<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         backupGlobals="false">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory suffix="Test.php">./tests/integration</directory>
        </testsuite>
        <testsuite name="All Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <!-- Custom project code that we actually test -->
            <directory suffix=".php">./wp-content/mu-plugins</directory>
            <!-- WordPress core files that our tests exercise -->
            <directory suffix=".php">../wp-includes</directory>
            <directory suffix=".php">../wp-admin</directory>
        </include>
        <exclude>
            <!-- Exclude WordPress core directories that are not testable -->
            <directory>../wp-content/themes</directory>
            <directory>../wp-content/plugins</directory>
            <directory>../wp-content/upgrade</directory>
            <directory>../wp-content/uploads</directory>
            <directory>../wp-admin/includes</directory>
            <directory>../wp-includes/SimplePie</directory>
            <directory>../wp-includes/IXR</directory>
            <directory>../wp-includes/Text</directory>
            <directory>../wp-includes/Requests</directory>
            <directory>../wp-includes/ID3</directory>
            <directory>../wp-includes/PHPMailer</directory>
            <directory>../wp-includes/random_compat</directory>
            <directory>../wp-includes/blocks</directory>
            <directory>../wp-includes/js</directory>
            <directory>../wp-includes/css</directory>
            <!-- Exclude project directories -->
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./build</directory>
        </exclude>
    </coverage>
    
    <php>
        <!-- WordPress Path Configuration -->
        <env name="WORDPRESS_PATH" value="./wordpress"/>
        <env name="ABSPATH" value="./wordpress/"/>
        
        <!-- Database Configuration for Tests -->
        <env name="WP_TESTS_DB_NAME" value="wordpress"/>
        <env name="WP_TESTS_DB_USER" value="wordpress"/>
        <env name="WP_TESTS_DB_PASSWORD" value="wordpress"/>
        <env name="WP_TESTS_DB_HOST" value="db"/>
        <env name="WP_TESTS_TABLE_PREFIX" value="wp_test_"/>
        
        <!-- WordPress Configuration -->
        <env name="WP_USE_THEMES" value="false"/>
        <env name="WP_DEBUG" value="true"/>
    </php>
    
</phpunit>

